div.td {
      display: table-cell;
      padding: 15px;
      text-align: center;
  }

  a{
    text-decoration: none;
    color: blue;
    }
    
    a:visited{
    text-decoration: none;
    color: blue;
    }